body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
}

.title {
    font-size: 50px;
    margin-bottom: 20px;
}

.bookmark-tab {
    justify-content: space-around; 
    display: flex; 
}

.btn {
    padding: 10px 20px;
    background-color: #ffb3b3;
    color: white;
    text-decoration: none;
    border-radius: 10px;
    transition: background-color 0.3s;
    margin: 0 10px;
}

.btn:hover {
    background-color: #ff8080;
}
